<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book List</title>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.css"  rel="stylesheet"  media="screen"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" ></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.js" ></script>  
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-sticky-top">
  <div class="container-fluid">
   <div class="navbar-header">
      <a class="navbar-brand" href="../../template/book/listBooks.html">Book Borrowing System</a>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav_target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
   <ul class="nav navbar-nav navbar-right">
    <li class="active">
       <a href="/books" >Book List</a>
    </li>  
    <li>
       <a href="/borrowing/list">Return</a>
    </li>
    <li>
       <a href="/borrowing/history">My history</a>
    </li>
   </ul>
</div>
</nav>
<!-- Navigation bar end -->

<div class="container">
 
   <h3>Book list</h3>
    
       <table class="table table-hover table-bordered table-condensed">
            <tr class="bg-color-gray">
              <th>Book No.</th>
              <th>Title</th>
              <th>Average rating</th>
              <th>Genre</th>
              <th>Author</th>
              <th>Released date</th>
              <th>Status</th>
            </tr>
            <tr th:each="bookInfo : ${books}">
               <td>
                 <span th:text="${bookInfo.book.bookId}"></span>
               </td> 
               <td>
                  <span th:text="${bookInfo.book.title}"></span>
               </td> 
               <td  align="center">
               <form th:action="@{'/reviews/' + ${bookInfo.book.bookId}}" method="get" >
                   <span th:text="${bookInfo.aveRate}" class="booklist1"></span>
                   <input type="submit" class="btn btn-default btn-sm btn-outline-primary" value="check reviews"/>
               </form>
               </td> 
               <td>
                 <span th:text="${bookInfo.book.genru}"></span>
               </td> 
               <td>
                 <span th:text="${bookInfo.book.author}"></span>
               </td> 
               <td>
                 <span th:text="${bookInfo.book.releasedDate}"></span>
               </td> 
               <td align="center">
               <form th:action="@{'/borrowing/' + ${bookInfo.book.bookId} + '/checkout'}" method="get" >
                 <span th:if="${bookInfo.book.bookStatus.status=='1'}">
                   <input class="btn btn-primary" type="submit" name="confirm" value="Check-out"/>
                   <input type="hidden" name="title" th:value="${bookInfo.book.title}"/>
                   </span>
                 <span th:if="${bookInfo.book.bookStatus.status=='0'}"> Unavailable</span>
               </form>  
               </td> 
            </tr> 
         </table>

    </div>         
</body>
</html>