@charset "UTF-8";

/****** book/listBook ******/
/*table*/
.booklist1 {
	color: blue;
	font-weight:bold;
}

.bg-color-gray{
	background-color: gray;
	color: white;
}

/****** book/bookDescription ******/
.inline {
	display: inline-block;
}
.title-size{
	font-size:40px;
}

.title-margin{
	margin: 40px;
}

.description {
	font-style: italic;
    font-size: 20px;
}

.margin-right{
	margin-left : auto;
	margin-right : 0;
}

.text-size10{
	font-size:20px;
	background-color: lightblue;
}



/****** borrowing/checkOutConfirm ******/
.center{
	text-align:center;
}

